// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #009c8f
$secondary = #13171e
$liteSecondary = #2f3544
$lightPaleGrey = #2b2b2b
$accent    = #7bc29d
$liteAccent    = #05FFDD
$blackText = #fafafa
$backgroundGrey = #424242

$positive  = #7bc29d
$negative  = #f9484a
$info      = #31CCEC
$warning   = #ffbd3d
